.navbar {
  background-color: transparent;
  min-height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.active {
  background-color: #112e57;
}
.navbar-brand {
  color: #fff;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 0.3rem;
  font-weight: bold;
  padding: 10px;
}

.icon {
  color: #fff;
  font-size: 30px;
}

.icon:hover {
  transform: scale(1.6);
  /* animation: rotateIn 1s linear both; */
}

.nav-item {
  margin-right: 1.5rem;
}

.menu-icon {
  margin-right: 2rem;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

@media only screen and (max-width: 378px) {
  .navbar-brand {
    font-size: 24px;
  }
  .menu-icon {
    font-size: 24px;
  }
}
